doctype html
html(lang='en')
  head        
    base(href='/Cyber-Bullying-Project/')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')     
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:400,700,400')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/skeleton.css')
    link(rel='stylesheet', href='css/custom.css')

  body

    div.container
        h1 Cyberbullying Study
        h5 Click each cell for post details
    input#search(type="search", placeholder="Search by caption")
  div#list
    div.row
        each item in contents.data['images.json'].metadata     
            div.four.columns.onecell
                div.onerow
                    div
                        img(src=item.image_url).cellimage
                br
                div.onerow
                    div
                        h6= "Owner: " + item.profile_owner_id
                br
                div.onerow
                    div
                        h6= "Caption: " + item.owner_caption
                br
                div.onerow
                    div
                        h6= item.caption_time
    // our app
  script(src="http://code.jquery.com/jquery.min.js")
  script(src="js/lodash.min.js")
  script(src="js/search.js")
  script(src="js/app.js")
  script(src="js/jade.js")
