extends layout.jade

block content
	div.row
		each item in contents.data['images.json'].metadata     
			div.six.columns.onecell
				div.onerow
					div
						img(src=item.image_url).cellimage
				br
				div.onerow
					div
						h6= item.profile_owner_id
				br
				div.onerow
					div
						h6= item.owner_caption
				br
				div.onerow
					div
						h6= item.caption_time


