extends layout

block content
    // display the detail of the first item
    - var item = contents.data['images.json'].metadata[0]
    img(src=item.image_url)
    div.row
        div.one.column Owner
        div.three.columns= item.profile_owner_id


